.navbar {
    background-color: white !important;
}

.navbar a {
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-weight: 600;
    /* font-size: 1.1rem; */
}

.navbar a:hover {
    color: #e27d60;
}

.userLogin {
    color: rgb(69, 69, 69) !important;
    font-weight: 600;
    /* font-size: 1.1rem; */
}

.userLogout {
    color: rgb(69, 69, 69) !important;
    font-weight: 600;
    /* font-size: 1rem; */
}

.iconImage {
    width: 6rem;
    /* margin-bottom: -1.3rem; */
    margin-left: 5rem;
}

.logoSubText {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: -0.8rem;
}

.cartFloatingPage {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    z-index: 3;
    width: 16rem;
}
