#productFilterPage {
    background-color: white !important;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/Jerrysuper123/artisanbreadsources/main/landingBG2.jpg"); */
}

.filterBtn {
    width: 7.4rem;
}
