.page-footer h5 {
    color: white;
    font-size: 1rem;
}

.footer-copyright {
    color: white !important;
    font-size: 0.8rem;
}

.page-footer a {
    color: white !important;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: not-allowed;
}

.page-footer i {
    color: #f15e1a;
    font-size: 1.5rem;
}
.page-footer p {
    color: white !important;
    font-size: 0.8rem;
}

.page-footer {
    background-color: rgb(40, 39, 39);
}
