.banner {
    position: relative;
}

.orStatement {
    margin-top: -1.3rem;
    font-size: 2rem;
    font-style: italic;
    /* width: 3rem; */
    background-color: rgb(255, 255, 255);
}

.ctaHeader {
    font-size: 3.3rem;
    font-weight: 800;
}

.cta {
    position: absolute;
    top: 15vh;
    left: 10vw;
    width: 80%;
    height: 20rem;
    color: white;
    /* border-radius: 20rem 20rem 10rem 10rem; */
}

@media only screen and (max-width: 600px) {
    .banner {
        position: static;
    }

    /* .cta {
        width: 100%;
    } */
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
}

.card-title i {
    font-size: 1.2rem !important;
    color: #e27d60;
}

.organizerText {
    background-color: #41b3a3;
}

.card-title i {
    font-size: 3rem;
    color: #e27d60;
}

.card-text {
    /* height: 5rem !important; */
    color: rgb(69, 69, 69) !important;
    font-size: 1rem !important;
    font-style: italic;
}

.card-body {
    height: 10rem;
}

.attendeeText img {
    object-fit: cover;
    object-position: center;
    height: 14rem;
    overflow: hidden;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.content img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.containerTimeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containerTimeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    .ctaHeader {
        font-size: 2rem;
        font-weight: 800;
    }

    /* Full-width containers */
    .containerTimeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containerTimeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
}

.videoContainer {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 80vh;
    background-color: rgb(62, 62, 62);
}

#carouselExampleCaptions {
    position: relative;
    height: 27rem !important;
    width: 80%;
}

.carousel-indicators {
    position: absolute;
    top: 25rem;
}

.slideControl {
    color: rgba(0, 0, 0, 0.9) !important;
    font-size: 2rem;
    /* color: white; */
    /* border-radius: 1.2rem;
    padding: 0.2rem; */
}

.carousel-indicators {
    color: rgba(0, 0, 0, 0.9) !important;
}

.landingMainContainer {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/Jerrysuper123/artisanbreadsources/main/landingBG2.jpg");
}
.LoginBtn {
    width: 6.3rem;
}

.orderContainer {
    min-height: 75vh;
}

.orderInner {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    min-height: 65vh;
}

/* animation */

.animationContainer {
    height: 35rem;
    /* background-color: #41b3a3; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/Jerrysuper123/artisanbreadsources/main/farm.avif");
}

.naturalCTA {
    border: 2px solid white;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.animationText {
    width: 70%;
}

.animeTextContainer {
    width: 60rem;
    margin-left: -30rem;
    margin-top: -6rem;
    color: white;
}
