.productDetailImg {
    /* object-fit: cover;
    object-position: center;
    height: 35rem;
    width: 30rem;
    overflow: hidden; */
}

.productDescription {
    background-color: rgb(218, 236, 240);
    border-radius: 0/3rem;
}
.detailBtn {
    width: 100%;
    border-radius: 0.3rem !important;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: #04bdad;
}

.detailBtn:hover {
    background-color: white;
    color: #04bdad;
    border: 2px solid #04bdad;
}
