.formImage {
    width: 50%;
    height: 100%;
}
.adminForm {
    width: 50%;
    height: 100%;
    background-color: white !important;
}

@media only screen and (max-width: 790px) {
    /* .adminForm {
        width: 90%;
    } */
}
.adminForm p {
    font-size: 0.8rem;
    color: #8aa6bf;
    height: 7rem;
    /* overflow-y: scroll; */
}

.adminFormContainer {
    /* height: 100vh; */
    color: rgb(21, 21, 21);
}

.formBtn {
    width: 100%;
    padding: 0.5rem 0;
}
