.cartBody {
    height: 65vh !important;
    overflow-y: scroll;
}

.offcanvas-header {
    border-bottom: 1px solid rgb(222, 222, 222);
}

.offcanvas {
    background-color: #f2f9ff;
}

.cartFooter {
    width: 100%;
    background-color: white;
}

.checkOutBtn {
    background-color: rgb(12, 12, 12);
    color: white;
    width: 100%;
    padding: 0.7rem 0;
    border-radius: 1rem;
}

.checkOutBtn:hover {
    background-color: white;
    color: rgb(12, 12, 12);
}

.cartCard {
    border: none !important;
}
.cartBtn {
    background-color: #04bdad;
    color: white;
    border-radius: 0.3rem;
    border: none;
}

.cartBtn:hover {
    background-color: #32b0a5;
    /* color: white; */
}

.filterSearchInput {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    height: 2.6rem;
    /* margin-top: 0.3rem;
    margin-bottom: 0.3rem; */
    border-radius: 1.5rem;
    border: 1px solid grey;
}

.filterSearchInput input {
    background-color: rgb(255, 255, 255);
    height: 2.3rem !important;
    border: none !important;
}

.shopCard {
    border: none;
    background-color: transparent !important;
    position: relative;
}

.productRating {
    position: absolute;
    margin-left: 9rem;
    top: 0.3rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.shopImg {
    object-fit: cover;
    object-position: center;
    height: 19rem;
    overflow: hidden;
    border-radius: 1rem !important;
}

.cartImg {
    object-fit: cover;
    object-position: center;
    height: 10rem;
    width: 7rem;
    overflow: hidden;
}

.shopCartBtn {
    border-radius: 0rem !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    /* border: 1px solid grey; */
    font-weight: 700;
    border: 1px solid white !important;
    margin-top: -6rem;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.shopCartBtn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white !important;
}

.card-body {
    /* background-color: rgb(235, 240, 244); */
    height: 6rem !important;
}

.mainShopPage {
    background-image: url("https://raw.githubusercontent.com/Jerrysuper123/artisanbreadsources/main/shopBG.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 60vh;
}
/* 
.card-title {
    color: rgba(0, 0, 0, 0.8);
} */
.cardBody {
    background-color: rgba(255, 255, 255, 0.95);
    height: 3.1rem !important;
    border-radius: 0 0 1rem 1rem !important;
    /* border: 1px solid black; */
}

.cardTitle {
    color: rgb(67, 67, 67);
    font-weight: 500;
    /* margin-top: -0.3rem; */
}

.cardText {
    margin-top: -0.3rem;
    color: rgb(62, 62, 61) !important;
    font-size: 0.9rem;
    font-style: italic;
}

.pagination {
    /* background-image: linear-gradient(to right, #ffa3ba, #fc7698); */
    border: 1px solid #ffa3ba;
    padding: 0 7px;
    margin: 2px;
    color: #ffa3ba;
    font-weight: 600;
}

.pagination:hover {
    background-image: linear-gradient(to right, #ffa3ba, #fc7698);
    color: white;
}

.pagination:active {
    background-image: linear-gradient(to right, #ffa3ba, #fc7698);
    color: white;
}

.active {
    background-image: linear-gradient(to right, #ffa3ba, #fc7698);
    color: white;
}
