.cartBody {
    height: 65vh !important;
    overflow-y: scroll;
}

.offcanvas-header {
    border-bottom: 1px solid rgb(222, 222, 222);
}

.offcanvas {
    background-color: #f2f9ff;
}

.cartFooter {
    width: 100%;
    background-color: white;
}

.checkOutBtn {
    background-color: rgb(12, 12, 12);
    color: white;
    width: 100%;
    padding: 0.7rem 0;
    border-radius: 1rem;
}

.checkOutBtn:hover {
    background-color: white;
    color: rgb(12, 12, 12);
}

.cartCard {
    border: none !important;
}
.cartBtn {
    background-color: #04bdad;
    color: white;
    border-radius: 0.3rem;
    border: none;
}

.cartBtn:hover {
    background-color: #32b0a5;
    /* color: white; */
}

.cartToastHeader {
    background-color: rgb(252, 252, 252) !important;
}

.cartToast {
    width: 16rem;
    background-color: white;
    position: fixed;
    top: 5rem;
    right: 3rem;
    z-index: 3;
}

.filterSearchInput {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    height: 2.6rem;
    /* margin-top: 0.3rem;
    margin-bottom: 0.3rem; */
    border-radius: 1.5rem;
    border: 1px solid grey;
}

.filterSearchInput input {
    background-color: rgb(255, 255, 255);
    height: 2.3rem !important;
    border: none !important;
}

.shopCard {
    border: none;
    background-color: transparent !important;
}

.shopImg {
    object-fit: cover;
    object-position: center;
    height: 19rem;
    overflow: hidden;
}

.cartImg {
    object-fit: cover;
    object-position: center;
    height: 10rem;
    width: 7rem;
    overflow: hidden;
}

.shopCartBtn {
    border-radius: 0rem !important;
    color: white;
    background-color: #05a598;
    /* border: 1px solid grey; */
    font-weight: 900;
    border: 1px solid #05a598 !important;
}

.shopCartBtn:hover {
    color: #05a598;
    background-color: white;
    border: 1px solid white !important;
}

.card-body {
    /* background-color: rgb(235, 240, 244); */
    height: 6rem !important;
}

.mainShopPage {
    background-image: url("https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
